/*----------------------------
タグheader, li, ul, ul liは
https://coeure.co.jp/blog/homepage/homepage_180501_05からの引用
positionをabsoluteからflexに変更
----------------------------*/
.header{
    position: relative;
    z-index: 10;
    height: 100px;
    display: flex;
    top: 0px;
    justify-content: space-between;
    background-color: rgb(0, 0, 0);
    width: 100%;
    text-align: center;
    z-index: 2;
}

.abs_header{
    position: relative;
    z-index: 10;
    height: 100px;
    display: flex;
    top: 0px;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0);
    width: 100%;
    text-align: center;
    z-index: 2;
}

.rel_header{
	position: fixed;/*fixedを設定して固定*/
    z-index: 999;/*最前面へ*/
    height: 100px;
    display: flex;
    top: -100px;
    background-color: rgba(255, 255, 255, 0.6);/*背景を透過した白に変更*/
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    transition: .5s;
}

.rel_header.is-show{
    top: 0px;
}

nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
}

#abs_a{
    font-family: “HGP行書体”, “ＭＳ Ｐ明朝”, “MS PMincho”, serif;
    font-size: 1.5vw;
    display: block;
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 20px;
}

#rel_a{
    font-family: “HGP行書体”, “ＭＳ Ｐ明朝”, “MS PMincho”, serif;
    font-size: 1.5vw;
    font-weight: 900;
    display: block;
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding:30px;
}

#a{
    font-family: “HGP行書体”, “ＭＳ Ｐ明朝”, “MS PMincho”, serif;
    font-size: 1.5vw;
    display: block;
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding:30px;
}

/*アニメーション*/
.animation{
	opacity : 0;
	visibility: hidden;
	transition: 1s;
	transform: translateY(30px);
}
.animation_before1{
    opacity : 0;
    line-height: 1em;
	visibility: hidden;
	transition: 2s;
	transform: translateY(30px);
}
.animation_before2{
    opacity : 0;
    line-height: 1em;
	visibility: hidden;
	transition: 2s;
	transform: translateY(30px);
}
.animation_before3{
    opacity : 0;
    line-height: 1em;
	visibility: hidden;
	transition: 2s;
	transform: translateY(30px);
}
.animation_before4{
    opacity : 0;
    line-height: 1em;
	visibility: hidden;
	transition: 2s;
	transform: translateY(30px);
}

.active{
	opacity: 1;
	visibility: visible;
	transform: translateY(0);
}

/*ホームページ*/
.home{
    position: absolute;
    top: 8px;
    text-align: center;
    font-family: “HGP行書体”, “ＭＳ Ｐ明朝”, “MS PMincho”, serif;
    font-size: 4vw;
}

.home>img{
    position: relative;
    width: 100%;
    z-index: 1;
}

#home_char{
    position: absolute;
    top: 5vh;
    left: 18vw;
    z-index: 2;
    color:rgb(255, 255, 255);
}

/*旅館について*/

.about_tmp{
    width: 85%;
}

.about{
    text-align: center;
    font-family: “HGP行書体”, “ＭＳ Ｐ明朝”, “MS PMincho”, serif;
    font-size: 4vw;
    vertical-align: -10px;
}

.about img{
    width: 50%;
}

/*料理 施設 プラン*/
.img_table h1{
    text-align: center;
    font-family: “HGP行書体”, “ＭＳ Ｐ明朝”, “MS PMincho”, serif;
    font-size: 4vw;
}

.img_table h2{
    text-align: center;
    font-family: “HGP行書体”, “ＭＳ Ｐ明朝”, “MS PMincho”, serif;
    font-size: 1.5vw;
    color: rgb(255, 255, 255);
    background-color: black;
    margin: 0px;
}

.img_table_img{
    display: flex;
}

.img_table_imgr{
    display: flex;
    text-align: right;
}

.img_table_l{
    width: 50%
}
.img_table_r{
    width: 50%;
}

/*プラン*/
.plan img{
    width: 50%;
}

.display-block{
    display: block;
    float: center;
    justify-content: center;
    
}

.display-flex-left{
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-left: 150px;
    margin-right: 50px;
    
}

.display-flex-right{
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-left: 50px;
    margin-right: 150px;
}

.top_size{
    font-size: 30px;
}

.text_size{
    font-size: 20px;
}

/*アクセス*/
.access{
    text-align: center;
}

/*予約成功*/
.reservation_success{
    text-align: center;
}

/*ログイン*/
.login{
    text-align:  center;
	table-layout: fixed;
	width: 80%;
	margin: 0 auto 20px;
    border: 1px solid #ccc;
	padding: 10px 15px;
	word-break: break-all;
}