body{
    font-family: “HGP行書体”, “ＭＳ Ｐ明朝”, “MS PMincho”, serif;
    background-image: url("../img/background_img.jpg");
}

/*----------------------------
タグheader, li, ul, ul liは
https://coeure.co.jp/blog/homepage/homepage_180501_05からの引用
positionをabsoluteからflexに変更
----------------------------*/
.header{
    position: relative;
    z-index: 10;
    height: 90px;
    display: flex;
    top: 0px;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 100);
    width: 100%;
    text-align: center;
    z-index: 2;
}

.abs_header{
    position: relative;
    z-index: 10;
    height: 90px;
    display: flex;
    top: 0px;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0);
    width: 100%;
    text-align: center;
    z-index: 2;
}

.rel_header{
	position: fixed;/*fixedを設定して固定*/
    z-index: 999;/*最前面へ*/
    height: 90px;
    display: flex;
    top: -100px;
    background-color: rgba(255, 255, 255, 0.6);/*背景を透過した白に変更*/
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    transition: .5s;
}

.rel_header.is-show{
    top: 0px;
}

nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
}

.abs_a{
    font-size: 1.5vw;
    display: block;
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 20px;
}

.rel_a{
    font-size: 1.5vw;
    font-weight: 900;
    display: block;
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding:20px;
}

.a{
    font-size: 1.5vw;
    display: block;
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding:20px;
}

/*アニメーション*/
.animation{
	opacity : 0;
	visibility: hidden;
	transition: 1s;
	transform: translateY(30px);
}
.animation_before1{
    opacity : 0;
    line-height: 1em;
	visibility: hidden;
	transition: 2s;
	transform: translateY(30px);
}
.animation_before2{
    opacity : 0;
    line-height: 1em;
	visibility: hidden;
	transition: 2s;
	transform: translateY(30px);
}
.animation_before3{
    opacity : 0;
    line-height: 1em;
	visibility: hidden;
	transition: 2s;
	transform: translateY(30px);
}
.animation_before4{
    opacity : 0;
    line-height: 1em;
	visibility: hidden;
	transition: 2s;
	transform: translateY(30px);
}

.active{
	opacity: 1;
	visibility: visible;
	transform: translateY(0);
}

/*ホームページ*/
.home{
    position: absolute;
    top: 8px;
    text-align: center;
    font-size: 4vw;
}

.home>img{
    position: relative;
    width: 100%;
    z-index: 1;
}

.home_char{
    position: absolute;
    top: 5vh;
    left: 18vw;
    z-index: 2;
    color:rgb(255, 255, 255);
}

/*旅館について*/
.about{
    text-align: center;
    font-size: 4vw;
    vertical-align: -10px;
}

/*料理 施設 プラン 予約*/
.img_table h1{
    text-align: center;
    font-size: 4vw;
}

.img_table h2{
    text-align: center;
    font-size: 1.5vw;
    color: rgb(255, 255, 255);
    background-color: black;
    margin: 0px;
}

.img_table_parent{
    display: flex;
}

.img_table_child_d{
    width: 50%;
}

.img_table_child_t{
    z-index: 0;
    width: 100%;
    height: 100%;
}

/*プラン*/
.plan{
    position: relative;
}

.plan p{
    color: rgb(0, 0, 0);
    width: 100%;
    height: 100%;
    margin: 0;
    position: absolute;
    left: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.700);
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: large;
    font-weight: bold;
}

.plan p:hover{
    opacity: 1;
    transition: 1s;
}

/*アクセス*/
.access{
    text-align: center;
    font-size: 1.5vw;
}

/*予約*/
.reservation_h1{
    text-align: center;
}

.line{
    display: flex;
}

/*ホテル予約*/
.reservation_hotel{
    text-align: center;
}

.confilm_button{
    background: rgb(0, 0, 0);
    border: none;
    color: #fff;
    height: 50px;
    font-size: 1.2em;
    text-align: center;
    text-transform: uppercase;
    width: 20%;
}

.confilm_button:hover{
    background: #464646;
}

/*予約成功*/
.reservation_success{
    text-align: center;
}

/*予約確認*/
.reservation_confilm{
    text-align: center;
}

.confilm_button{
    background: rgb(0, 0, 0);
    border: none;
    color: #fff;
    height: 50px;
    font-size: 1.2em;
    text-align: center;
    text-transform: uppercase;
    width: 20%;
}

.confilm_button:hover{
    background: #464646;
}

/*会員登録*/
.adduser{
    text-align:  center;
	table-layout: fixed;
	width: 80%;
	margin: 0 auto 20px;
    border: 1px solid #ccc;
    color: rgb(0, 0, 0);
	padding: 10px 15px;
	word-break: break-all;
}

/*ログイン アカウント作成成功*/
.success{
    text-align:  center;
}

/*フッター*/
.copyright{
    text-align: center;
    font-size: 1.5vw;
    padding: 1vh;
    color: rgb(255, 255, 255);
    background-color: black;
    margin: 0px;
}