/*----------------------------
タグheader, li, ul, ul liは
https://coeure.co.jp/blog/homepage/homepage_180501_05からの引用
positionをabsoluteからflexに変更
----------------------------*/
#header{
    z-index: 10;
    height: 90px;
    display: flex;
    top: 0px;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.913);
    width: 100%;
    text-align: center;
    z-index: 2;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
}

#header.fixed{
	position: fixed;/*fixedを設定して固定*/
    z-index: 999;/*最前面へ*/
    top:0;/*位置指定*/
    left:0;/*位置指定*/
}

nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li a{
    display: block;
    text-decoration: none;
    color: #666;
    padding:10px;
}
nav ul li.current a,
nav ul li a:hover{
    /*-webkit-transform-origin: left top;
    -ms-transform-origin: left top;
    transform-origin: left top;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);*/
    color:rgba(243, 14, 14, 0.25);
    background-color: rgb(255, 255, 255);
}

.home{
    width: 100vw ;
    top: 90px;
}

/*アニメーション要素のスタイル*/
.animation{
	opacity : 0;
	visibility: hidden;
	transition: 1s;
	transform: translateY(30px);
    text-align: center;
}
/*アニメーション要素までスクロールした時のスタイル*/
.active{
	opacity: 1;
	visibility: visible;
	transform: translateY(0);
}

/*画像の位置調整*/
.right{
    display: flex;
    justify-content: space-between;
}

.left{
    display: flex;
    justify-content: space-between;
}

/*右側に文字を調節*/
.right_side{
    text-align: right;
    margin-right: 150px;
}

/*旅館について*/
.about1{
    width: 100vw ;
    top: 90px;
}

.about2{
    vertical-align: -10px;
}

.about2 img{
    width: 50%;
}

/*料理*/
.dish img{
    width: 50%;
}
/*施設*/
.institution img{
    width: 50%;
}

/*プラン*/
.plan img{
    width: 50%;
}

.display-block{
    display: block;
    float: center;
    justify-content: center;
    
}

.display-flex-left{
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-left: 150px;
    margin-right: 50px;
    
}

.display-flex-right{
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-left: 50px;
    margin-right: 150px;
}

.top_size{
    font-size: 30px;
}

.text_size{
    font-size: 20px;
}

/*アクセス*/
.access{
    text-align: center;
}

/*予約成功*/
.reservation_success{
    text-align: center;
}

/*ログイン*/
.login{
    text-align:  center;
	table-layout: fixed;
	width: 80%;
	margin: 0 auto 20px;
    border: 1px solid #ccc;
	padding: 10px 15px;
	word-break: break-all;
}
/*予約成功*/
.reservation_success{
    text-align: center;
}